<!DOCTYPE html>
<head>
    <title>Ubonratchatani | Sign up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <header></header>
    <div class="container">
        <form action="login">
            <div class="box">
                <h1>Sign up</h1>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <input type="text" placeholder="Username">
                <input type="text" placeholder="Password">
                <input type="submit">
            </div>
        </form>
    </div>
</body>